#header{
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: space-between;
   
}
#navg{
    list-style: none;
    display: flex;
   
}
#logo{
    width: 100px;
    height: 100%;
}
#navg>li{
    padding-left: 10px;
    padding-right: 100px;

}

#search{
    height: 30px;
}

#user{
    height: 100%;
}
